@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Nunito:wght@200;300;400;500;700&display=swap');


/*como colocar una fuente descargada*/
@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat-VariableFont_wght.ttf");
}
/*para aplicar en todo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilo de fonts para todo el body*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(235, 219, 184);

}

/*estilo de font para todos los h*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', cursive;
}

.subtituloPrincipal {

  background-color: #f0ebe5;
  text-align: center;
  font-size: 16px;
  color:rgb(13, 13, 14);
  font-weight: normal;
  padding:3%;

  margin-top: 0.5rem;
   
}
.titulo_Principal {
  background-color: #cfad87;

  text-align: center;
  font-size: 16px;
  color:#1d120c;
  font-weight: normal;
  padding:1%;

  margin-top: 0.5rem;
   
}
.subtitulo {
  background-color: #ebc49a;
  text-align: center;
  font-size: 18px;
  color:rgb(13, 13, 14);
  font-weight: normal;
  padding:1%;
  margin:1%;
   
}
.listasinmarcadores{
  list-style-type: none; /* Elimina los marcadores de lista */


}

.piepagina{ 
  background-color: #ebc49a;
  border-style:groove;
  border-color: black;
 
  }
  .bi{
    font-size:28px;
    color:rgb(13, 13, 14);
  }
  .redSocial {
    display: flex;
    justify-content:space-around;
  }

  .btnVerde {
    
    height: 2.5rem;
    background-color: #3ec99b;
    border: 1px solid #3ec99b;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
     
  
  }
  .nosotros{
    
      background-color: bisque;
      border-style:groove;
      border-color: rgb(189, 180, 152);
      margin:1%;
      padding: 2%;
      border-radius: 12px;
    
    
  }
  .nosotros:hover{
    background-color: rgb(230, 224, 218);
  }
  
  
/***********************************************************************************/

@media (min-width: 320px) and (max-width: 768px) {
  /* Estilos para moviles en posici칩n vertical */
    
  .navbar {
    background-color: #ebc49a;
    padding:2.5rem;
   
   
  }
  
  .contenedor-portada-web{
   
    display:block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/libroportadatablet.jpg");
    background-size: cover;
    object-fit:cover;
    object-position: center;
    background-repeat: no-repeat;
   
  }
 

  .primero{
    padding: 12px;
    margin: 12px;
    font-size: 20px;
    color:rgb(235, 243, 242);    
    font-weight: normal;
  }
 
 
  .segundo{
    display:none;
    
  }
  .cards{
   
    display:flex;
    justify-content: center;
    padding:2%;
    margin:2%;
  
  }
  .custom-card{
    background-color:white;
    border-style:groove;
    border-color: black;
    padding: 2%;
    border-radius: 12px;
    margin-bottom: 2%;
   
  }
  .combo{
    background-color: bisque;
    border-style:groove;
    border-color: black;
    padding: 2%;
    border-radius: 12px;
    
  }
  .listasinmarcadores{
    list-style-type: none; /* Elimina los marcadores de lista */
  

  }
  .custom-card:hover{
    background-color: rgb(230, 224, 218);
  }
  .cajaBoton{
    display:flex;
    justify-content:center;
  }
  .tienda div:last-child {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container-card-wrapper{
    display:flex;
    width:100%;
    flex-wrap:wrap;
       
  }
  .card-wrapper{
    margin-bottom: 2rem;
    
  }
  .btn-centrado{
    display: flex;
    justify-content: space-between;
    
   
  }
.button-wrapper{
  background-color: #6c757d;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
 
  
   
}

.btn-compra{
  background-color: #08d8f3;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color:black;
  

}
 /*CAROUSEL TIENDA DE LIBROS*/
  
 .cardi:not(:first-child) {
  display: none;
}

.cardi {
  background-color: white;
  padding:2%;
  margin:0 auto;
  border-radius: 12px;
  max-width: 100%;
  min-width: 100%;
}
.card-title{
  font-size: 16px;

}
.image-wrapper {
  /*height: 20vw;*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-width: 50%;
  max-height: 50%;
}

.btn-primary {
  display: flex;
  justify-content: center;
}

.color-form{
  width:100%;
  background-color: rgb(230, 224, 218);
 
 
 padding: 1rem;



}
}






/*******Para dispositivos tablets ************************/
@media (min-width:769px) and (max-width:992px) {
 

.navbar {
    background-color: #ebc49a;
    list-style: none;
    padding:1.5rem;
    }

 
  
  .navbar .navbar-nav .nav-item{
  font-size: 1em;
  color:aliceblue;
  /*margin: 1rem;*/
  
 }
  .navbar .navbar-nav .nav-item .nav-link {
   
    transition: none;
    font-size: 1em;
    text-align:center;
    color:aliceblue;
    text-decoration: none;
   
  }
  .navbar .navbar-nav  .nav-item .nav-link:hover {
    background-color: #ad9d84;
  }


/* estilos que use en el tipo mobil*/


.contenedor-portada-web{
   
  display:block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/libroportada2.jpg");
  object-fit:contain;
  object-position: center;
  background-repeat: no-repeat;
 
}

.primero{
  padding: 3%;
  margin: 12px;
  font-size: 16px;
  color:rgb(235, 243, 242);    
  font-weight: normal;
}

.centrado .imagenPrincipal{
 display:none;
     
}

.segundo{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3%;
    font-size: 16px;
    color:rgb(235, 243, 242);    
    font-weight: normal;
    margin-top: 1%;
    position: absolute;
    bottom: 0;
    
    
  }
  
.imagen{
    display: flex;
    justify-content:space-around;
    
    
   
}
.imagen p{
  margin:2%;
}
.imagen .segundo{
  margin-top: 15%;
}
.imagen img{
  max-width:50%;
   
} 

h1, h2  {
  background-color: rgb(58, 53, 43);
  text-align: center;
  color:bisque;
  padding: 5px;
}
h3{
  text-align: center;
  color:black;
}
.cards_alquiler{
  display:flex;
  justify-content:space-around;
}
.cards{
  /*background-color: bisque;*/
  display:flex;
  justify-content: center;
  padding:2%;
  margin:2%;

}
.custom-card{
  background-color: white;
  border-style:groove;
  border-color: black;
  padding: 2%;
  border-radius: 12px;
  margin-bottom: 2%;
 
}
.combo{
  background-color: bisque;
  border-style:groove;
  border-color: black;
  margin:3%;
  padding: 2%;
  border-radius: 12px;
  
}
.custom-card:hover{
  background-color: rgb(230, 224, 218);
 
  
}
.cajaBoton{
  display:flex;
  justify-content:center;
}
.miBoton {
  background-color: #4e3d27;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;

  /* Estilos adicionales */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: background-color 0.3s ease; /* Transici칩n suave */
}

#miBoton:hover {
  background-color: #1d120c; /* Cambio de color al pasar el cursor */
}

.contenedorCombos{
  display:inline-block;
  padding:5%;
  /*justify-content: center;*/
}
.container-card-wrapper{
  display:flex;
  width:100%;
 
  justify-content: space-between;
     
}
.card-wrapper{
  padding: 1rem;
  margin-bottom: 2rem;
  
}
.button-wrapper{
background-color: #6c757d;
border: none;
padding: 0.5rem;
border-radius: 10px;
font-size: 16px;
cursor: pointer;
display:block;
margin-bottom: 0.5rem;
 
}
.btn-compra{
  background-color: #08d8f3;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 16px;
  color:black;
  cursor: pointer;
  display:block;

}


.tienda div:last-child {
 padding:0;
}
/**--------------------estilos carousel Den-----------------------**/
.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardi {
  margin: 1em;
  width: calc(100%/3);
  background-color: white;
  padding:2%;
  margin:2%;
  border-radius: 12px;
}
.card-title{
  font-size: 14px;

}
.image-wrapper {
  /*height: 20vw;
  margin: 0 auto;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-width: 50%;
  max-height: 50%;
}

.btn-primary {
  display: flex;
  justify-content: center;
}

.color-form{
  width:80%;
  background-color: rgb(230, 224, 218);
 
 
 padding: 1rem;

}
}
@media (min-width: 993px) {
  /* Estilos para laptops y monitores peque침os */

.navbar {
   
  background-color: #ebc49a;
 
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
}



.navbar .navbar-nav .nav-item{
font-size: 1em;
color:aliceblue;
margin: 1rem;

}
.navbar .navbar-nav .nav-item .nav-link {
 
  transition: none;
  font-size: 1em;
  text-align:center;
  color:aliceblue;
  text-decoration: none;
 
}
.navbar .navbar-nav  .nav-item .nav-link:hover {
  background-color: #ad9d84;
}
/*estilado sugerido por poe*/
.subtituloPrincipal {
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  color:white;
 background-color:inherit;
  font-weight: normal;
  padding:1%;
  margin:1%;
  margin-top: 0.5rem;
   
}


.contenedor-portada-web {
  display:block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/ultima.jpg");
  object-fit:contain;
  object-position: center;
  background-size:cover;
 
 
}
.titulo_Principal{
  font-size: 18px;
}
.primero {
 

  line-height: 2.00;
  width: 30%;
  margin:30px;
  padding: 20px;
  color:white;
  font-size: 20px;
  font-weight: normal;
}


.segundo {
  width: 30%;
  line-height: 2.00;
  margin:30px;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: normal;
}
 

h1, h2  {
background-color: rgb(58, 53, 43);
text-align: center;
color:bisque;
padding: 5px;
}
h3{
text-align: center;
color:black;
}
.contenedor_desktop{
  display:block;
}
.cards_alquiler{
display:flex;
justify-content:space-between;
}
.cards{
/*background-color: bisque;*/
display:flex;
justify-content: center;
padding:2%;
margin:2%;

}
.custom-card{
background-color: white;
border-style:groove;
border-color: black;
padding: 2%;
border-radius: 12px;
margin-bottom: 2%;

}
.combo{
background-color: bisque;
border-style:groove;
border-color: black;
margin:3%;
padding: 2%;
border-radius: 12px;

}
.custom-card:hover{
  background-color: rgb(230, 224, 218);
}
.cajaBoton{
display:flex;
justify-content:center;
}
.miBoton {
background-color: #4e3d27;
color: white;
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 4px;

/* Estilos adicionales */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
transition: background-color 0.3s ease; /* Transici칩n suave */
}

#miBoton:hover {
background-color: #1d120c; /* Cambio de color al pasar el cursor */
}

.contenedorCombos{
display:inline-block;
padding:5%;


}

.container-card-wrapper{
  display:flex;
  width:100%;
  text-align: center;
  justify-content: space-between; 
}

.card-wrapper{
 
  padding: 1rem;
  margin-bottom: 2rem;
  
}

.btn-centrado{
  display:flex;
  justify-content: space-between;
 
}
.button-wrapper{
background-color: #6c757d;
border: none;
padding: 0.5rem;
border-radius: 10px;
font-size: 14px;
display: block;

 
}

.btn-compra{
  background-color: #08d8f3;
  text-decoration: none;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 14px;
  color:black;
  cursor: pointer;
  display:block;

}


/**estilos carousel Den**/
.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-title{
  font-size: 14px;

}
.cardi {
  margin: 1em;
  width: calc(100%/3);
  background-color: white;
  padding:2%;
  margin:2%;
  border-radius: 12px;
}

.image-wrapper {
  /*height: 20vw;
  margin: 0 auto;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-width: 50%;
  max-height: 50%;
}

.btn-primary {
  display: flex;
  justify-content: center;
}
.color-form{
  width:80%;
  background-color: rgb(230, 224, 218);
 
 
 padding: 1rem;

}
}